Flask==0.9
Flask-OAuth==0.12
Jinja2==2.6
Pygments==1.6
Werkzeug==0.8.3
bpython==0.12
distribute==0.6.36
gunicorn==0.17.4
httplib2==0.8
ipython==0.13.2
numpy==1.7.1
oauth2==1.5.211
py==1.4.13
pymongo==2.5
pytest==2.3.4
stevedore==0.8
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==3.7.1
wsgiref==0.1.2
