
div.console2 {
    font-size: 14px;
    word-wrap: break-word;
}
div.console2 {
    height: 200px;
    overflow: auto;
}
div.jquery-console-inner { padding: 0.5em }
div.console2 div.jquery-console-prompt-box {
    color: #444;
    font-family: monospace;
}
div.console2 div.jquery-console-focus span.jquery-console-cursor {
    background: #333;
    color: #eee;
    font-weight: bold;
}
div.console2 div.jquery-console-message-error {
    color: #ef0505;
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}
div.console2 div.jquery-console-message-success {
    color: #187718;
    font-family: monospace;
    padding: 0.1em;
}
div.console2 span.jquery-console-prompt-label { font-weight: bold }

