
.container{
    position: relative;
}

#splash {
    position: absolute;
    width: 30em;
    height: 6em;
    margin: 20em 0 0 -15em;
    left: 50%;
    z-index: 999;
    text-align: center;
    visibility: hidden;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from { opacity:1; visibility:visible}
    to { opacity:0; visibility:hidden}
}

@-moz-keyframes fadein { /* Firefox */
    from { opacity:1; visibility:visible}
    to { opacity:0; visibility:hidden}
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:1; visibility:visible}
    to { opacity:0; visibility:hidden}
}

@-o-keyframes fadein { /* Opera */
    from { opacity:1; visibility:visible}
    to { opacity:0; visibility:hidden}
}


.box {
    border-style: solid;
    border-color: #dddddd; 
    border-width: thin;
    color: white;
    padding: 1em;
    margin: 0px;
    box-shadow: 0px 0px 5px #888
    pointer-events: none;
    position: relative;

}
/*
.redbg {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
    background: #7a0000;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}
 * This is a hack to get transparent backgrounds inside my .boxes
 * without declaring them in a separate div. The alternative is .redbg
 */
.box:before{
    position: absolute;
    top: 0em;
    left: 0em;
    content: "";
    width: 100%;
    height: 100%;
    background: #7a0000;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}


.lefthand {
    width: 20em;
    height: 42em;
    position: absolute;
    top: 2em;
    left: 2em;
    display: none;
    pointer-events: none;
}

#modebox {
    width: 60em;
    height: 2em;
    position: absolute;
    top: 2em;
    left: 26em;
    text-align: center;
}

#modebox ul {
    margin: .25em 0px;
    padding: 0px;
    list-style-type: none;
}

#modebox ul li {
    margin: .5em;
    padding: .5em;
    display: inline;
}

#modebox ul li:hover {
    background-color: #dddddd;
    color: black;
    transition-duration: .5s;
}

.selected {
    background-color: #dddddd;
    color:black;
}

#codebox {
    width: 19em;
    height: 42em;
    position: absolute;
    top: 2em;
    left: 2em;
    padding: 1em 1.5em;
    pointer-events: none;
}

#middlebox {
    width: 36em;
    height: 36em;
    position: absolute;
    top: 8em;
    left: 26em;
}

.collapsed {
    color: #dddddd;
    margin: 0em;
    padding: 0em;
    position: relative;
}

.collapsed:before {
    content: " + ";
    color: white;
    position: absolute;
    top: -0.1em;
    left: -1.0em;
}

.collapsed+ul {
    display: none;
}

.expanded {
    background: #ddd; 
    color: black;
    padding: 0.5em;
    margin: 0.5em 0.2em 0.5em 0.2em;
    position: relative;
}

.expanded:before{
    color: white;
    content: " - ";
    position: absolute;
    top: 0.5em;
    left: -1.0em;
}

.expanded+ul{
    margin: 0em 0em 0em 2em; 
    padding: 0em;
    color: #dddddd;
    display: block;
    border-left-style: solid;
    border-color: #dddddd;
    border-width: thin;
}

.expanded+ul>li{
    padding: 0em;
    margin: 0.5em 0em 0.5em 1.5em;
    position: relative;
}


.expanded:hover, .collapsed:hover {
    text-decoration: underline;
}

.righthand {
    width: 20em;
    height: 16em;
    position: absolute;
    top: 8em;
    left: 66em;
    display: none;
}

#helpbox {
    width: 20em;
    height: 16em;
    position: absolute;
    top: 28em;
    left: 66em;
    display: none;
}

.contents {
    color: #dddddd;
}

svg .node {
    stroke: white;
    stroke-width: 1px;
 }

 svg .edge{
    stroke-width: 5;
 }

svg{
    position: absolute;
    z-index: -3;
}

pre,code { 
    font-family:monospace;
}

body {
    background-image: url("images/wild_oliva.png");
    overflow: hidden;
}




.x.axis line, .x.axis path, .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

