<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>TrussViz with D3</title>
    <meta name="description" content="">
    <meta name="author" content="Nathan Brei">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="static/stylesheets/base.css">
    <link rel="stylesheet" href="static/stylesheets/skeleton.css">
    <link rel="stylesheet" href="static/stylesheets/layout.css">

    <link rel="stylesheet" href="static/cons.css">
    <link rel="stylesheet" href="static/vis.css">


    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/javascript" src="static/d3/d3.v3.js"></script>
    <script type="text/javascript" src="static/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="static/jquery/jquery.console.js"></script>

    <script type="text/javascript" src="static/vis.js"></script>
    <script type="text/javascript" src="static/cons.js"></script>

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->


    <div class="container">
        <div class="sixteen columns">
            <h1 class="remove-bottom" style="margin-top: 40px">TrussViz</h1>
            <h6>by Nathan Brei for Fun via HackerSchool</h6>
            <hr />
        </div>
        <div class="two-thirds column" id="viz">
            <svg>
                <rect class="background" x="0" y="0" width="600" height="400">
            </svg>
        </div>
        <div class="one-third column feed"></div>
    </div><!-- container -->



<!-- End Document
================================================== -->
</body>
</html>
