<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>TrussViz with D3</title>
    <meta name="description" content="">
    <meta name="author" content="Nathan Brei">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="static/stylesheets/base.css">
    <link rel="stylesheet" href="static/vis.css">
    <link rel="stylesheet" href="static/cons.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <script type="text/javascript" src="static/d3/d3.v3.js"></script>
    <script type="text/javascript" src="static/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="static/jquery/jquery.console.js"></script>
    <script type="text/javascript" src="static/cons.js"></script>
    <script type="text/javascript" src="static/vis.js"></script>
    <script type="text/javascript" src="static/geommode.js"></script>
    <script type="text/javascript" src="static/viewmode.js"></script>
    <script type="text/javascript" src="static/stressmode.js"></script>
</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
        <div id="splash" class="box">
            <h1 class="contents">TrussVis</h1>
            <h6 class="contents">by Nathan Brei for Fun via
                HackerSchool</h6>
        </div>

        <svg>
        </svg>

        <div id="geomsidebar" class="righthand box" style="display:block;">
            <div class="feed page"></div>
        </div>

        <div id="viewsidebar" class="righthand box"> 
            Geometry!!! 
        </div>

        <div id="loadsidebar" class="righthand box"> Loadings!!! </div>
        <div id="stresssidebar" class="righthand box"> Stresses!! </div>
        <div id="deflsidebar" class="righthand box"> Deflections!!! </div>
        <div id="collsidebar" class="righthand box"> Collapses!!!</div>
        <div id="optsidebar" class="righthand box"> Optimization!!!</div>
        <div id="srcsidebar" class="righthand box"> Source!!!</div>
        <div id="acctsidebar" class="righthand box"> Account!!!</div>
        
        <div id="codebox" class="box">
            <div id="codebox-nodes">
                <div class="selected expanded">Nodes</div>
                <ul id="nodeslist"></ul>
            </div>
            <div id="codebox-edges">
                <div class="expanded">Edges</div>
                <ul id="edgeslist">
                </ul>
            </div>
        </div>

        <div id="modebox" class="box">
            <ul>
                <li id="view">View </li>
                <li id="geom" class="selected">Geometry </li>
                <li id="load">Load/Fix </li>
                <li id="stress">Stress </li>
                <li id="defl">Deflection </li>
                <li id="coll">Collapse </li>
                <li id="opt">Optimize </li>
                <li id="src">Source </li>
                <li id="acct">Account </li>
            </ul>
        </div>

        <div id="helpbox" class="box">
        </div>




    </div><!-- container -->



<!-- End Document
================================================== -->
</body>
</html>
